#search {
    /*¿Que estás buscando?*/
    padding: 40px 20px;
    text-align: center;
    background-image: url("/images/background/busqueda.png");
    /* Ruta de la imagen de fondo */
    background-size: cover;
    /* Cubre toda la sección */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que se repita la imagen */
    color: white;
    /* Color del texto para que contraste con el fondo */
}

.search-section {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-field label {
    font-weight: normal;
}

.form-field select,
.form-field input {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.form-group input[type="submit"] {
    /*Btn Buscar*/
    background: black;
    /* Fondo negro */
    color: white;
    /* Letras blancas */
    border: none;
    cursor: pointer;
    align-self: flex-end;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background 0.3s;
}

.form-group input[type="submit"]:hover {
    background: #333;
    /* Cambio de color al pasar el mouse */
}
/* Termino botones de búsqueda */
/* -------------------------- */
/* Sección Revista inmobiliaria */
.revista-section {
    background-color: #27ade2;
    /* Color celeste */
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

/* Contenedor del texto y el botón */
.texto-container {
    max-width: 600px;
    z-index: 1;
}

/* Estilos para los textos */
.revista-section h3 {
    margin: 0;
    font-size: 2rem;
}

.revista-section h3.azul {
    color: #02023f;
    font-weight: bold;

    /* Color azul */
}

.revista-section h3.blanco {
    color: white;
    /* Color blanco */
    margin-top: 10px;
    font-size: 1.5rem;
}

/* Estilos para el botón */
.revista-section .boton {
    background-color: #04044e;
    /* Color azul */
    color: yellow;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    /* Radio de 20px */
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.revista-section .boton:hover {
    background-color: #0000cc;
    /* Color azul más oscuro al pasar el mouse */
}

/* Estilos para la imagen de la revista */
.revista-section .imagen-revista {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    /* Ajusta la altura de la imagen */
    max-height: 300px;
    /* Limita el tamaño máximo */
    z-index: 0;
}
/*---------------------------*/
/* Sección Para mas consulta */
.contacto-section {
    background-image: url("/images/background/contact.png");
    /* Ruta de la imagen de fondo */
    background-size: cover;
    /* Cubre toda la sección */
    background-position: center;
    /* Centra la imagen */
    padding: 60px 20px;
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
}

/* Estilos para el texto principal */
.contacto-section h3 {
    font-size: 2rem;
    margin: 0 0 20px 0;
    color: white;
}

/* Contenedor de botones */
.botones-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* Espacio entre botones */
    margin-bottom: 20px;
}

/* Estilos para los botones */
.contacto-section .boton {
    background-color: #ffe100;
    /* Fondo amarillo */
    color: rgb(20, 20, 24);
    /* Texto azul */
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    /* Radio de 20px */
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    /* Espacio entre ícono y texto */
    transition: background-color 0.3s;
}

.contacto-section .boton:hover {
    background-color: #b19d04;
    /* Color amarillo más oscuro al pasar el mouse */
}

/* Estilos para el texto del correo */
.contacto-section .correo {
    font-size: 1.2rem;
    color: white;
    margin-top: 20px;
}

/* Estilos para los íconos */
.contacto-section .icono {
    width: 20px;
    /* Tamaño del ícono */
    height: 20px;
}
/*------------------------------------------*/
/* Sección de columnas Nuestros Servicios */
.columnas-section {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: white;
}

/* Estilos para cada columna */
.columna {
    text-align: center;
    max-width: 200px;
}

/* Estilos para el ícono */
.columna img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

/* Estilos para el título */
.columna h5 {
    font-size: 1rem;
    color: black;
    margin: 0 0 15px 0;
}

/* Estilos para el botón */
.columna .boton {
    background-color: white;
    color: #00bfff;
    /* Color celeste */
    padding: 10px 20px;
    border: 2px solid #00bfff;
    /* Borde celeste */
    border-radius: 20px;
    /* Radio de 20px */
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

/* Efecto hover para el botón */
.columna .boton:hover {
    background-color: #00bfff;
    /* Fondo celeste */
    color: white;
    /* Texto blanco */
}
/*------------------------------------------*/

/* Estilos para el texto h2 con lineas amarillas */
.line-texto {
    color:var(--heading-color);
    font-size: 24px;
    text-align: center;
    position: relative;
    margin-top:10px;
  }

  /* Línea amarilla debajo del texto */
  .line-texto::after {
    content: '';
    display: block;
    width: 50px;
    height: 5px;
    background: #ffe100;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
  }

  /* Pestañas --------------------------------------------------
  /* Comprar, vender, alquilar */
.tab-content {
    display: none;
}
.tab:target .tab-content,
.tab:last-of-type .tab-content {
    display: block;
}
.tab:target ~ .tab:last-of-type .tab-content {
    display: none;
}
/* esto es para posicionar las pestañas correctamente */
.tab-container {
    width: 80%;
    max-width: 120em;
    position: relative;
    padding-top: var(--tabs-height); /* en esta zona colocaremos las pestañas */
}
#tab1 > a {
    --tabs-position: 0;
}
#tab2 > a {
    --tabs-position: 1;
}
#tab3 > a {
    --tabs-position: 2;
}
#tab4 > a {
    --tabs-position: 3;
}
#tab5 > a {
    --tabs-position: 4;
}
#tab6 > a {
    --tabs-position: 5;
}
#tab7 > a {
    --tabs-position: 6;
}
#tab8 > a {
    --tabs-position: 7;
}
#tab9 > a {
    --tabs-position: 8;
}
.tab > a {
    text-align: center;
    position: absolute;
    width: calc(var(--tabs-width));
    height: calc(var(--tabs-height) + var(--tabs-border-size));
    top: 0;
    left: calc(
        var(--tabs-width) * var(--tabs-position)
    ); /* posición de cada pestaña */
}
/* más aspecto */
.tabs {
    padding: 10px;
    color: var(--tabs-text-color);
    padding-left: 20%;
}
.tab-content {
    background-color: var(--tabs-lite-color);
    padding: 80px;
    border: var(--tabs-border-size) solid var(--tabs-border-color);
    border-radius: 0 10px 10px 10px;
    position: relative;
    z-index: 100;
}
.tab > a {
    background-color: var(--tabs-dark-color);
    padding: 10px;
    border: var(--tabs-border-size) solid var(--tabs-border-color);
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
}
.tab:target > a,
.tab:last-of-type > a {
    background-color: var(--tabs-lite-color);
    z-index: 200;
}
.tab:target ~ .tab:last-of-type > a {
    background-color: var(--tabs-dark-color);
    z-index: 0;
}
/*-----------------------------*/
/* seccion primera de subasta */
/*-----------------------------*/


.section-subasta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.left-column {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-column img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.right-column {
    width: 50%;
    background-color: #004d85;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-button {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #ffd700 50px, #ffffff 50px);
    border: none;
    border-radius: 20px;
    padding: 10px 5px;
    margin: 10px 0;
    width: 90%;
    text-align: right;
    cursor: pointer;
}

.custom-button .icon {
    background-color: #ffd700;
    color: #004d85;
    padding: 10px;
    border-radius: 10%;
    margin-right: 10px;
}

.custom-button .text {
    color: #004d85;
    font-weight: bold;
    text-align: right;
    padding-left: 20px;
}
/*-----------------------------*/
/* fin seccion primera de subasta */
/*-----------------------------*/
/*-----------------------------*/
/* seccion segunda de subasta */
/*-----------------------------*/

.section-opciones {
    padding: 20px;
    text-align: center;
    background-color: #ccc;
}

h3 {
    color:#069289;
    text-align: left;
    margin-left: 120px;
    font: bold;
}

.options-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.option {
    width: 243px;
    height: 395px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.info {
    
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 94%;
    padding-right: 5px;
}

.info p {
    color: white;
    margin: 10px;
    text-align: left;
    font: bold;
}

.more-info {
    background-color: red;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.more-info:hover {
    background-color: white;
    color: red;
}

.view-all {
    background-color: #034a84;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

.view-all:hover {
    background-color: yellow;
    color: black;
}
/*-----------------------------*/
/* fin seccion segunda de subasta */
/*-----------------------------*/
/*-----------------------------*/
/* seccion tercera contacto de subasta */
/*-----------------------------*/

.section-subasta-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
}

.left-column, .right-column {
    width: 50%;
    padding: 20px;
}

.left-column {
    text-align: center;
}

.blue-text {
    color: #004d85;
    
}

.green-text {
    color: green;
}

.left-column img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.contact-form {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

.form-row {
    display: flex;
    margin-bottom: 15px;
}

.form-row input, .form-row textarea {
    width: 100%;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    background-color: #e0e0e0;
}

.form-row textarea {
    height: 100px;
}

.form-row button {
    background-color: #004d85;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}

.form-row button:hover {
    background-color: yellow;
    color: black;
}
/*-----------------------------*/
/* fin seccion tercera contacto de subasta */
/*-----------------------------*/